body{
    background-image: url('tc.jpg');
    background-size: cover;
}
.heading1{
    margin-left: 220px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 68px;
    color:black;
    -webkit-text-stroke: 1px white;
    margin-top: 100px;
}
input[type="text"],select{
    margin-bottom: 30px;
    margin-left: 15px;
    margin-top: 15px;
    width:310px;
    background-color: rgba(255, 255, 255, 0.529);
    border:2px double black;
}
button{
    margin-bottom: 15px;
    margin-left: 95px;
    margin-top: 5px;
    width:150px;
    height: 30px;
    background-color:#032B43;
    border:2px double black;
    border-radius: 5%;
    color: white;
}
button:hover{background-color:#283f4e;}
.container{
    margin-left: 27%;
    margin-top: 60px;
    padding: 10px;
    height: 310px;
    width:350px;
    border-radius: 3%;
    border:1px solid black;
    background-color:rgba(128, 128, 128, 0.425);
}
label{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;
}